:root {
    --main-bg-color: coral;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    color: white;
    padding: 15px 0;
    text-align: center;
    height: 10%;
}

nav {
    background-color: var(--main-bg-color);
    padding: 10px;
    text-align: center;
    height: 5%;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    border-bottom: 5px solid white;
}

main {
    padding: 20px;
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 75%;
}

h1 {
    color: white;
}

p {
    line-height: 1.6;
}

footer {
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    height: 10%;
}

footer p {
    margin: 0;
}